.notLoggedIn {
  text-align: center;
  padding: 1.25rem;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.notLoggedIn p {
  font-weight: bold;
}

.notLoggedIn a {
  margin: auto;
  max-width: 15%;
}

.adminContainer {
  display: flex;
}

.adminContainer main {
  flex: 1;
}

.sidebar {
  height: 100vh;
  background: rgba(234, 108, 60, 1);
  display: flex;
  flex-direction: column;
  padding: 2.25rem;
  color: white;
}

.sidebar a,
.sidebar button {
  color: white;
  text-decoration: none;
  text-align: left;
  font-weight: 600;
  font-size: 1rem;
  transition: color 0.2s ease-in-out;
}

.sidebar a.active,
.sidebar button.active {
  background-color: #eeaf5e;
  margin: 0 -2.25rem;
  padding: 0.25rem 2.25rem;
}

.sidebar a.active:hover,
.sidebar button.active:hover {
  background-color: #d6823a;
}

.sidebar a:hover,
.sidebar button:hover {
  color: #ff9900;
}

.sidebar a:active,
.sidebar button:active {
  color: #ff6600;
}

.sidebar h1 {
  margin: 0;
}

.sidebar nav {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-top: 3rem;
  gap: 1.625rem;
  padding: 0 0.25rem;
}

.sidebar nav:nth-of-type(2) {
  border-top: white 1px solid;
  padding-top: 1.625rem;
}

.hiddenForm {
  position: absolute;
  visibility: hidden;
}

.plainButton {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 6.75rem;
}

.mainContentWrapper {
  padding: 0 2rem;
}
