/*!**********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./app/admin/admin.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************/
.admin_notLoggedIn__Yk3_I {
  text-align: center;
  padding: 1.25rem;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.admin_notLoggedIn__Yk3_I p {
  font-weight: bold;
}

.admin_notLoggedIn__Yk3_I a {
  margin: auto;
  max-width: 15%;
}

.admin_adminContainer__2wy3L {
  display: flex;
}

.admin_adminContainer__2wy3L main {
  flex: 1 1;
}

.admin_sidebar__5knmB {
  height: 100vh;
  background: rgba(234, 108, 60, 1);
  display: flex;
  flex-direction: column;
  padding: 2.25rem;
  color: white;
}

.admin_sidebar__5knmB a,
.admin_sidebar__5knmB button {
  color: white;
  text-decoration: none;
  text-align: left;
  font-weight: 600;
  font-size: 1rem;
  transition: color 0.2s ease-in-out;
}

.admin_sidebar__5knmB a.admin_active__MyjBO,
.admin_sidebar__5knmB button.admin_active__MyjBO {
  background-color: #eeaf5e;
  margin: 0 -2.25rem;
  padding: 0.25rem 2.25rem;
}

.admin_sidebar__5knmB a.admin_active__MyjBO:hover,
.admin_sidebar__5knmB button.admin_active__MyjBO:hover {
  background-color: #d6823a;
}

.admin_sidebar__5knmB a:hover,
.admin_sidebar__5knmB button:hover {
  color: #ff9900;
}

.admin_sidebar__5knmB a:active,
.admin_sidebar__5knmB button:active {
  color: #ff6600;
}

.admin_sidebar__5knmB h1 {
  margin: 0;
}

.admin_sidebar__5knmB nav {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  margin-top: 3rem;
  gap: 1.625rem;
  padding: 0 0.25rem;
}

.admin_sidebar__5knmB nav:nth-of-type(2) {
  border-top: white 1px solid;
  padding-top: 1.625rem;
}

.admin_hiddenForm__hdIhU {
  position: absolute;
  visibility: hidden;
}

.admin_plainButton__5DSQ9 {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./components/Button/Button.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/
.Button_button__mg_cR {
  border-width: 0;
  display: block;
  text-decoration: none;
  background: #ea6c3c;
  margin: 0;
  padding: 1rem 2.25rem;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  color: white;
  box-shadow: 0 10px 10px 0 hsla(355, 100%, 61%, 0.15);
  border-color: transparent;
  border-radius: 40px;
  transition:
    background 0.3s,
    transform 0.1s;
}

.Button_button__mg_cR:hover {
  background: #ff8b5c;
  transform: scale(1.05);
}

.Button_button__mg_cR:active {
  background: #d94a25; /* Change the background color on click/active state */
}

.Button_secondary__kYMEY {
  background: #ffffff;
  color: #ff5722;
}

.Button_secondary__kYMEY:hover {
  background: #ea6c3c;
  color: #ffffff;
}

.Button_secondary__kYMEY:active {
  background: #d94a25;
  color: #ffffff;
}

.Button_small__uAK9I {
  padding: 0.5rem 1.25rem;
  font-size: 1rem;
}

