.button {
  border-width: 0;
  display: block;
  text-decoration: none;
  background: #ea6c3c;
  margin: 0;
  padding: 1rem 2.25rem;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  color: white;
  box-shadow: 0 10px 10px 0 hsla(355, 100%, 61%, 0.15);
  border-color: transparent;
  border-radius: 40px;
  transition:
    background 0.3s,
    transform 0.1s;
}

.button:hover {
  background: #ff8b5c;
  transform: scale(1.05);
}

.button:active {
  background: #d94a25; /* Change the background color on click/active state */
}

.secondary {
  background: #ffffff;
  color: #ff5722;
}

.secondary:hover {
  background: #ea6c3c;
  color: #ffffff;
}

.secondary:active {
  background: #d94a25;
  color: #ffffff;
}

.small {
  padding: 0.5rem 1.25rem;
  font-size: 1rem;
}
